<%= render "shared/header" %>
<div class="main-body">
  <% @questions.each do |question| %>
  <div class = "question-content-lists">
    <div class = "content-left">
      <div class = "comments-counter"> 0 </div>
      <div class = "comments-subscript"> comments </div>
    </div>
    <div class = "content-right">
      <div class = "content-right-header">
        <div class = "question-title"> <%= "#{question.title}" %> </div>
        <div class = "question-contributor"> <%= "#{question.contributor}" %> </div>
      </div>
      <div class = "question-content"> <%= "#{question.content}" %> </div>
    </div>
  </div>
  <% end %>
</div>