.header-main{
  width: 100vw;
  height: 65px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #1c3667;
}

.logo{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  font-size: 23px;
  letter-spacing: 1.8px;
}

.questions-new-btn{
  height: 32px;
  width: 80px;
  font-size: 16px;
  background-color: #fff;
  color: #3a3736;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  border: solid 1px #3a3736;
}

a{
  text-decoration: none;
}